{{>layout/header}}
<a href="/" role="button" class="btn btn-secondary" style="text-decoration:none; color: black">홈으로 가기</a>
<div class="page">
    <div class="inform" align="center" style="height:200px;">
        <div style="width:35%; height:150px; float:left;">
            <img style="width:40%; height: 150px;"  src="{{userPicture}}">
        </div>
        <div style="width:60%; height:150px; float:right; dispaly:flex;">
            <div class="inform-text" style = "margin:auto; height: 100%; width:90%;">
                <br/><br/>
                <h3>{{userName}} 님의 마이페이지</h3>
                email 📧  {{userEmail}}
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="butts" style = "width: 80%; height: 70px; margin:0 auto">
        <div style="width:40%; height:100%; float:left; display:flex; background-color: #4285F4; border-radius: 40px 80px;">
            <a href="/myposts" role="button" id="btn-show-posts"
               style="margin:auto; color: white; text-decoration: none;">내가 쓴 게시글 📃</a>
        </div>
        <div style="width:40%; height:100%; float:right; display:flex; background-color:#4285F4; border-radius: 40px 80px;">
            <a href="/mycomments" role="button" id="btn-show-comments"
               style="margin:auto; color: white; text-decoration: none;">내가 쓴 댓글 💬</a>
        </div>
    </div>
</div>
{{>layout/footer}}