<br/>
<br/>
<div class="card">
    <div class="card-header bi bi-chat-right-dots"> 댓글 작성</div>
    <form>
        <input type="hidden" id="postId" value="{{post.id}}">

        <div class="card-body">
            <textarea id = "comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
        </div>

        <div class="card-footer">
            <button type="button" id="btn-comment-save" class="btn btn-outline-primary bi bi-pencil-square">등록</button>
        </div>

    </form>


</div>