<div class="card">
    <div class="card-header bi bi-chat-dots"> {{#comments.size}} {{comments.size}}개의 댓글 {{/comments.size}}</div>


    <ul class="list-group-flush">
        {{#comments}}
            <li class="list-group-item">
                 <span>
                     <span style="font-size : small">{{userEmail}}</span>
                     <span style="font-size : xx-small">{{createdDate}}</span>
                 </span>
                <a type="button" data-toggle="collapse" data-target=".multi-collapse-{{id}}"
                   class="bi bi-pencil-square">수정</a>

                <a type="button" onclick="main.commentDelete({{post.id}},{{id}})"
                   class="bi bi-x-square">삭제</a>

                <div>{{comment}}</div>

                <form class="collapse multi-collapse-{{id}}">
                    <input type="hidden" id="id" value="{{id}}">
                    <input type="hidden" id="postId" value="{{post.id}}">
                    <div class="form-group">
                        <textarea class="form-control" id="comment-content" rows="3">{{comment}}</textarea>
                    </div>
                    <button type="button" id="btn-comment-update" class="btn btn-outline-primary bi bi-pencil-square"> 수정</button>
                </form>
            </li>
        {{/comments}}</ul>
</div>